<div class="container mt-5">
  <h1 class="col text-center">Welcome to the To-Do App</h1>
  <div class="text-center">
    <p>For testing:</p>
    <p>Demo account: demo@demo.com</p>
    <p>Password: Demoaccount12</p>
  </div>
  <div class="app-info row text-center">
    <h5>
      With the Todo app, you're able to create tasks and projects to keep track
      of your daily activities.
    </h5>
    <p>
      You can also set deadlines for your tasks and projects to help you stay
      organized.
    </p>
    <p>
      Sign up above (no valid email required) or use the demo account to log in.
    </p>
  </div>
</div>
